<a href="https://colab.research.google.com/github/HendricoYehezky/Tugas-1/blob/main/Bab_2_2_(Data_Preprocessing)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
### Aplikasi dalam melakukan manipulasi data yang tersimpan dalam tensor akan sangat berguna dalam menyelesaikan permasalahan sehari-hari ###
### Dimulai dengan preprocessing data mentah ###
### Dalam python untuk analisis data dikenal dengan modul Panda dimana data yang tersimpan dala CSV Format akan diformatkan ke dalam Tensor ###
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # Column names
    f.write('NA,Pave,127500\n')  # Each row represents a data example
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [3]:
### Membaca Data Set ###
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [5]:
### Mengatasi Missing Data ###
### Terdapat dua cara untuk mengatasi missing data yaitu kita imputation dan deletion data missing tersebut ###
### Imputasi berarti kita mengganti missing data dengan data lain dan deletion berarti kita menghapus data missing tersebut ###
### Dengan menggunakan fungsi (iloc) yaitu integer location based indexing, kita membagi data kedalam nilai input dan output ###
### Untuk kasus data numerik, input yang missing akan menggantikan nilai yang hilang yaitu NaN dengan rata-rata nilai yang sekolom dengan missing data tersebut ###
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys

In [6]:
### Untuk kasus kategorik atau diskrit, kita akan menggunakan kategori Alley Pave dan Alley NaN yang masing-masing mengartikan adanya data dengan nilai 1 pada alley_pave dan nilai 0 pada alley_nan serta data missing dengan alley_pave bernilai 0 dan alley_nan bernilai 1 ###
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [8]:
### Konversi Data ke dalam Format Tensor ###
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))